{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": ["*.scss", "*.lock", "node_modules/", "build/", "public/"],
  "rules": {
    "arrow-body-style": "error",
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
