html {
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #1b1b1b;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.75rem;
  background-image: linear-gradient(120deg, hsl(313, 49%, 18%), hsl(313, 78%, 20%));
  color: #fff;
  font-size: 110%;
  text-align: center;
}

header a {
  color: inherit;
}

h1,
h2,
header {
  line-height: 1.2;
}

h1 {
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

h2 {
  margin: 3rem 0 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  margin: 1.5rem 0 0.5rem;
  font-size: 1.25rem;
}

p {
  margin: 0 0 1.5rem;
}

a {
  color: hsl(313, 78%, 25%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  hyphens: auto;
}

section :last-child {
  margin-bottom: 0;
}

hr {
  margin: 2.5rem 0;
  height: 3px;
  background-color: #ebedf0;
  border: 0;
}

code,
pre {
  background: #ebedf0;
  border-radius: 0.25em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 16px;
}

pre {
  margin: 0 0 1.5rem;
  padding: 1em 1.25em;
  overflow-x: auto;
}

p code,
li code,
td code {
  margin: 0 0.3em;
  padding: 0.3em 0.4em;
  line-height: 1.2;
}

table {
  width: 100%;
  min-width: 540px;
  margin: 0;
  border-collapse: collapse;
  font-size: 90%;
}

thead {
  border-bottom: 2px solid hsl(216, 14%, 80%);
}

tr {
  border-bottom: 1px solid hsl(216, 14%, 80%);
}

th {
  font-weight: 600;
  text-align: left;
}

th,
td {
  padding: 0.6rem 0;
  vertical-align: top;
}

td:not(:last-of-type) {
  padding-right: 1.2rem;
}

td:not(:last-of-type) {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 90%;
  white-space: nowrap;
}

td code {
  font-size: 90%;
}

.container {
  margin: 1.5rem auto;
  padding: 0 16px;
}

.react-github-calendar {
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  header {
    padding: 2rem 1.5rem;
  }

  h1 {
    font-size: 38px;
  }

  pre {
    display: inline-block;
  }

  .container {
    width: 740px;
    margin: 3rem auto;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
