* {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: 0;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1b1b1b;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 1.25rem;
  background-image: linear-gradient(120deg, #222, #111);
  color: #fff;
  font-size: 20px;
  text-align: center;
}

header a {
  color: inherit;
}

h1,
h2,
h3,
header {
  line-height: 1.2;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 2.441rem;
  font-weight: 700;
}

h2 {
  margin: 3rem 0 1em;
  font-size: 1.563rem;
  font-weight: 700;
}

h3 {
  margin: 1.5rem 0 0.5em;
  font-size: 1.25rem;
}

h1 code,
h2 code,
h3 code {
  font-size: 0.9em;
}

p,
ul,
ol,
pre {
  max-width: 760px;
}

p {
  margin: 0 0 1.5rem;
}

li {
  margin-bottom: 0.75em;
}

li p {
  margin: 0 0 0.75rem;
}

li pre {
  margin: 0 0 1rem;
}

a {
  color: inherit;
  text-decoration: underline 2px hsl(0, 0%, 88%);
  text-underline-offset: 3px;
  transition: text-decoration 100ms ease-out 0s;
}

a:hover {
  text-decoration: underline 2px hsl(0, 0%, 80%);
}

section > :last-child {
  margin-bottom: 0;
}

hr {
  margin: 2.5rem 0;
  height: 3px;
  background-color: hsl(0, 0%, 88%);
  border: 0;
}

pre,
code {
  font-family: 'IBM Plex Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 16px;
}

pre {
  margin: 0 0 1.5rem;
  padding: 1.25em !important;
  border-radius: 4px;
  background: hsl(0, 0%, 96%) !important;
}

pre code {
  background: inherit;
  border-radius: 0;
  padding: 0;
}

code {
  background: hsl(0, 0%, 94%);
}

table {
  width: 100%;
  min-width: 540px;
  margin: 0;
  border-collapse: collapse;
  font-size: 16px;
}

thead,
tr {
  border-bottom: 2px solid hsl(0, 0%, 88%);
}

tr {
  border-bottom: 1px solid hsl(0, 0%, 88%);
}

th {
  font-weight: 600;
  text-align: left;
}

th,
td {
  padding: 0.6rem 0.4rem;
  vertical-align: top;
  line-height: 1.4;
}

td:not(:last-of-type) {
  padding-right: 1.2rem;
}

td:not(:last-of-type) {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 14px;
  white-space: nowrap;
}

td code {
  font-size: 14px;
}

code {
  padding: 0.15em 0.4em;
  border-radius: 3px;
}

form {
  margin: 2.5rem 0 0;
  display: flex;
  justify-content: center;
}

input,
button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7em 1em;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
}

input {
  min-width: 15em;
  margin-right: 0.75em;
  background-color: #fff;
}

input:invalid {
  box-shadow: none;
}

button {
  cursor: pointer;
  background-color: #222;
  color: #fff;
  transition: all 150ms ease-in-out;
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

header button {
  background-color: hsl(136, 54%, 41%);
  font-weight: 600;
}

header button:hover {
  background-color: hsl(136, 54%, 43%);
}

.container {
  margin: 1.5rem auto;
  padding: 0 16px;
}

.react-activity-calendar {
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  input,
  button {
    width: auto;
    margin-bottom: 0;
  }

  .container {
    width: calc(844px + 2rem); /* default calendar width */
    margin: 2rem auto;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
