:root {
  --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --color-text: #1b1b1b;
  --color-border: hsl(0, 0%, 88%);
  --color-border-active: hsl(0, 0%, 80%);
  --color-page-bg: #fff;
  --color-header-bg: #141414;
  --color-header-text: var(--color-page-bg);
  --color-code-bg: hsl(0, 0%, 94%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-border: hsl(0, 0%, 24%);
    --color-border-active: hsl(0, 0%, 32%);
    --color-page-bg: hsl(216, 28%, 7%);
    --color-header-bg: #eee;
    --color-code-bg: hsl(0, 0%, 18%);
  }
}

* {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: 0;
}

html {
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-page-bg);
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 1.5rem 0 1.25rem;
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  font-size: 1.1rem;
}

header a {
  color: inherit;
}

h1,
h2,
h3,
header {
  line-height: 1.2;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 2.441rem;
  font-weight: 700;
}

h2 {
  margin: 2.5rem 0 0.75em;
  font-size: 1.563rem;
  font-weight: 700;
}

h3 {
  margin: 2rem 0 0.75em;
  font-size: 1.25rem;
}

h1 code,
h2 code,
h3 code {
  font-size: 0.9em;
}

p,
ul,
ol,
pre {
  max-width: 760px;
}

p {
  margin: 0 0 1.5rem;
}

li {
  margin-bottom: 0.75em;
}

li p {
  margin: 0 0 0.75rem;
}

li pre {
  margin: 0 0 1rem;
}

a {
  color: inherit;
  text-decoration: underline 2px var(--color-border);
  text-underline-offset: 3px;
  transition: text-decoration 100ms ease-out 0s;
}

a:hover {
  text-decoration: underline 2px var(--color-border-active);
}

section > :last-child {
  margin-bottom: 0;
}

hr {
  margin: 2.5rem 0;
  height: 3px;
  background-color: var(--color-border);
  border: 0;
}

pre,
code {
  font-family: var(--font-mono);
  font-size: 0.85em;
}

pre code {
  background: inherit;
  border-radius: 0;
  padding: 0;
}

code {
  background: var(--color-code-bg);
}

table {
  width: 100%;
  min-width: 540px;
  margin: 0;
  border-collapse: collapse;
  font-size: 0.9rem;
}

thead,
tr {
  border-bottom: 2px solid var(--color-border);
}

tr {
  border-bottom: 1px solid var(--color-border);
}

th {
  font-weight: 600;
  text-align: left;
}

th,
td {
  padding: 0.6rem 0;
  vertical-align: top;
  line-height: 1.4;
}

td:not(:last-of-type) {
  padding-right: 1.25rem;
}

td:not(:last-of-type) {
  font-family: var(--font-mono);
  font-size: 0.75rem;
  white-space: nowrap;
}

td p {
  margin-bottom: 1rem;
}

code {
  padding: 0.15em 0.4em;
  border-radius: 3px;
}

form {
  display: flex;
  margin: 2.5rem 0 0;
}

input,
button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7em 1em;
  font-family: inherit;
  font-size: 15px;
  border: none;
  border-radius: 4px;
}

input {
  min-width: 15em;
  margin-right: 0.75em;
  background-color: #fff;
}

input:invalid {
  box-shadow: none;
}

button {
  cursor: pointer;
  color: var(--color-text);
  border: solid 1px var(--color-text);
  background-color: transparent;
  transition: all 150ms ease-in-out;
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

header button {
  color: var(--color-page-bg);
  border-color: var(--color-page-bg);
  font-weight: 600;
}

.container {
  margin: 1.5rem auto;
  padding: 0 20px;
}

.react-activity-calendar {
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }

  input,
  button {
    width: auto;
    margin-bottom: 0;
  }

  .container {
    width: calc(844px + 2rem); /* default calendar width */
    margin: 2rem auto;
  }
}

.github-corner .octo {
  fill: var(--color-text);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
