:root {
  --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --color-text: #1b1b1b;
  --color-border: hsl(0, 0%, 88%);
  --color-border-active: hsl(0, 0%, 80%);
  --color-page-bg: #fff;
  --color-header-bg: #141414;
  --color-header-text: var(--color-page-bg);
  --color-code-bg: hsl(0, 0%, 94%);
  --color-focus: hsl(136, 82%, 40%);
  --font-size-code: 0.9rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-border: hsl(0, 0%, 24%);
    --color-border-active: hsl(0, 0%, 32%);
    --color-page-bg: hsl(216, 28%, 7%);
    --color-header-bg: #eee;
    --color-code-bg: hsl(0, 0%, 18%);
  }
}

@media (min-width: 768px) {
  :root {
    --font-size-code: 0.8rem;
  }
}

* {
  box-sizing: border-box;
}

:focus-visible {
  outline: var(--color-focus) auto 1px;
}

button::-moz-focus-inner {
  border: 0;
}

html {
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-page-bg);

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 1.5rem 0 1.25rem;
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  font-size: 1.1rem;
  line-height: 1.3;
}

header a {
  color: inherit;
}

header button {
  color: var(--color-text);
  background-color: var(--color-page-bg);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 1.953rem;

  @media (min-width: 768px) {
    font-size: 2.441rem;
  }
}

h2 {
  margin: 2.5rem 0 0.5em;
  font-size: 1.563rem;
}

h3 {
  margin: 2rem 0 0.5em;
  font-size: 1.25rem;
}

p,
ul,
ol,
pre {
  max-width: 760px;
}

p {
  margin: 0 0 1.5rem;
}

li {
  margin-bottom: 0.75em;

  p {
    margin: 0 0 0.75rem;
  }

  pre {
    margin: 0 0 1rem;
  }
}

a {
  color: inherit;
  text-decoration: underline 2px var(--color-border);
  text-underline-offset: 3px;

  &:hover {
    text-decoration: underline 2px var(--color-border-active);
  }
}

section > :last-child {
  margin-bottom: 0;
}

hr {
  margin: 2.5rem 0;
  height: 3px;
  background-color: var(--color-border);
  border: 0;
}

pre,
code {
  font-family: var(--font-mono);
}

code {
  background: var(--color-code-bg);
  font-size: var(--font-size-code);
}

pre code {
  background: inherit;
  border-radius: 0;
  padding: 0;
}

.token.known-class-name {
  text-decoration: none !important;
}

table {
  max-width: 100%;
  margin: 0;
  border-collapse: collapse;

  @media (min-width: 768px) {
    min-width: 540px;
    font-size: 0.9rem;
  }
}

.table-overflow {
    width: 100%;
    overflow: auto;
}

thead,
tr {
  border-bottom: 2px solid var(--color-border);
}

tr {
  border-bottom: 1px solid var(--color-border);
}

th {
  font-weight: 600;
  text-align: left;
}

th,
td {
  padding: 0.6rem 0;
  vertical-align: top;
  line-height: 1.4;
}

td:not(:last-of-type) {
  padding-right: 1.25rem;
}

td:not(:last-of-type) {
  font-family: var(--font-mono);
  font-size: var(--font-size-code);
  white-space: nowrap;

  @media (min-width: 768px) {
    font-size: 0.75rem;
  }
}

td p {
  margin-bottom: 1rem;
}

code {
  padding: 0.15em 0.4em;
  border-radius: 3px;
}

form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  margin: 2rem 0 0;

  @media (min-width: 768px) {
    margin: 2.5rem 0 0;
  }

  & > * {
    flex: 0 0 100%;

    @media (min-width: 768px) {
      flex: 0 0 auto;
    }
  }
}

input,
button {
  margin-bottom: 1rem;
  padding: 0.9rem;
  font-family: inherit;
  font-weight: normal;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  line-height: 1;

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding: 0.75rem;
  }
}

input {
  min-width: 15em;
  background-color: #fff;

  &:invalid {
    box-shadow: none;
  }
}

button {
  cursor: pointer;
  color: var(--color-page-bg);
  background-color: var(--color-text);

  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

.container {
  margin: 1.5rem auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    width: calc(848px + 2rem); /* default calendar width */
    margin: 2rem auto;
  }
}

.react-activity-calendar {
  margin: 0 0 1.5rem;
}

.github-corner .octo {
  fill: var(--color-text);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
