name: CI

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.2.0
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4.1.0
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4.2.2
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install -r --ignore-scripts

      - name: Check formatting (Prettier)
        run: pnpx prettier -c .

      - name: Generate TypeScript types
        run: pnpm postbuild

      - name: Run type checks (TypeScript)
        run: pnpm tsc

      - name: Run linter (ESLint)
        run: pnpm lint
